.margin {
    margin-right: 15px;
    font-size: 18px;
}

.titleCalendar {
    font-size: 22px;
    margin: 10px 10px 10px 20px;
    color: #4caf50;
}
.margin2 {
    margin: 25px;
    margin-top: 20px;
    font-size: 20px;
    
}