.invoice-page {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
  }
  
  .invoice-header {
    font-size: 24px;
    color: #333;
  }
  
  .invoice-info {
    margin-top: 10px;
  }
  
  .admin-invoice-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
 
  .invoice.input {
    border: solid black 1px;
  }