
.title {
    font-size: 40px;
}

.update-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  .select {
    font-size: 20px;
    padding-bottom: 10px;
  }

 